.App {
  text-align: center;
}

.add-button {
  margin: 40px 0 40px 0;
}

.add-button a {
  background-color: #6c4c8b;
  color: white;
  text-decoration: none;
  padding: 10px;
}
.add-button a:hover {
  background-color: #9448bc;
  color: white;
}

/* NAV HEADER ====================================== */

nav {
  background: #4c2853;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  margin-bottom: 70px;
}

nav a {
  color: white;
  display: inline-block;
  padding: 10px;
  font-size: 1.2em;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

/* FOOTER ========================================= */

footer {
  background-color: #4c2853;
  color: #ffffff;
  /* margin: 60px 0px 0px 0px; */
  text-align: left;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
}

footer a:hover {
  color: #9448bc;
}

.footer-content {
  margin: 90px 0px 0px 0px;
}

.right-footer {
  text-align: center;
  line-height: 0.5;
  padding: 25px 0 10px 15px;
  font-size: 12px;
}

.left-footer {
  text-align: center;

  line-height: 1.6;
  padding: 10px 15px 0px 15px;
}

/* FOOTER -> DESKTOP ================================ */

@media (min-width: 470px) {
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 470px) {
  .right-footer {
    text-align: right;
    padding: 22px 15px 10px 0;
    font-size: 14px;
  }
}

@media (min-width: 470px) {
  .left-footer {
    text-align: left;
    padding: 10px 0 10px 15px;
  }
}
