.job-container {
  width: 90%;
  margin: 0 auto;
}

.title {
  background-color: #4c2853;
  color: white;
  margin: 0 auto;
  padding: 10px;
}

.subtitle {
  padding: 15px;
  line-height: 2.6;
}

table {
  border: 30px;
  /* background-color: magenta; */
}

.table-container {
  width: 80%;
}

.col-1 {
  text-align: right;
}

.col-2 {
  text-align: left;
}
