.job-container {
  width: 80%;
  margin: 0 auto;
}

.title {
  background-color: #4c2853;
  color: white;
  margin: 0 auto;
  padding: 10px;
}

.subtitle {
  padding: 15px;
  line-height: 2.6;
}

/* tbody {
  width: 50%;
} */

tr {
  border: 30px;
  /* background-color: magenta; */
}

tr {
  margin: 0;
  padding: 0;
}

.col-2 {
  text-align: right;
}

.col-10 {
  text-align: left;
}
