/* table {
  border: 1px solid black;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0 auto;
  width: 76%;
} */

.job-list {
  width: 80%;
  margin: 0 auto;
}

.job-list a {
  text-decoration: none;
  color: black;
}
