.form-container {
  width: 60%;
  margin: 0 auto;
}

.mb-3 {
  background-color: #eeeeee;
  padding: 20px 25px 20px 25px;
}

#dropdown-menu {
  background-color: #6c4c8b;
  border-color: #6c4c8b;
}

h4 {
  font-weight: 500;
  text-transform: uppercase;
  padding: 18px 0 4px 0;
}

.form-label {
  font-weight: 500;
}

input {
  background-color: #6c4c8b;
  border: none;
  color: white;
  text-decoration: none;
  padding: 10px 18px 10px 18px;
  font-weight: 500;
}

input:hover {
  background-color: #9448bc;
  color: white;
}
