/* table {
  border: 1px solid black;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0 auto;
  width: 76%;
} */

/* .job-list {
  width: 80%;
  margin: 0 auto;
} */

.job-list {
  width: 80%;
  margin: 0 auto;
}

.job-list a {
  text-decoration: none;
  color: black;
}

.job-list a:hover {
  color: #4c2853;
}

.job-text {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(43, 226, 211); */
  border-bottom: 1px solid black;
}

.left-text p {
  text-align: left;
  padding: 24px 0 10px 0;
}

.right-text {
  margin: 18px 0 18px 0;
  width: 24vw;
  border-radius: 6px;
}

.right-text p {
  text-align: center;
}
