.App {
  text-align: center;
}

.add-button {
  margin: 40px 0 40px 0;
}

.add-button a {
  background-color: #6c4c8b;
  color: white;
  text-decoration: none;
  padding: 10px;
}
.add-button a:hover {
  background-color: #9448bc;
  color: white;
}

/* NAV --> DESKTOP ====================================== */

@media (max-width: 469px) {
  .desk-nav {
    display: none;
  }
}

@media (min-width: 470px) {
  .desk-nav {
    background: #4c2853;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    margin-bottom: 70px;
  }

  .desk-nav a {
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 1.2em;
    text-decoration: none;
  }

  .desk-nav a:hover {
    color: white;
  }
}

/* NAV --> MOBILE ====================================== */

@media (min-width: 470px) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 470px) {
  .mobile-nav {
    background: #4c2853;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px 30px 0;
    margin-bottom: 35px;
  }

  .mobile-nav a {
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 1.2em;
    text-decoration: none;
  }

  .mobile-menu a:hover {
    color: white;
  }
}

/* HAMBURGER MENU ================================ */
/* CITATION: style code starteed from https://github.com/negomi/react-burger-menu#styling */

.bm-burger-button {
  position: fixed;
  width: 22px;
  height: 20px;
  left: 22px;
  top: 22px;
}

.bm-burger-bars {
  background: white;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  left: 165px;
}

.bm-cross {
  background: white;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #c2b2e1;
  padding: 2em 1em 0;
  font-size: 1em;
  width: 200px;
}

/* QUOTE BOX ======================================== */

.quote-container {
  background-color: #c2b2e1;
  width: 65%;
  margin: 0 auto;
  padding: 15px;
}

/* RESOURCE LINKS ==================================== */

.resource-links {
  margin: 30px 0 20px 0;
}

/* FOOTER =========================================== */

footer {
  background-color: #4c2853;
  color: #ffffff;
  /* margin: 60px 0px 0px 0px; */
  text-align: left;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
}

footer a:hover {
  color: #9448bc;
}

.footer-content {
  margin: 90px 0px 0px 0px;
}

.right-footer {
  text-align: center;
  line-height: 0.5;
  padding: 25px 0 10px 15px;
  font-size: 12px;
}

.left-footer {
  /* display: none; */
  text-align: center;
  line-height: 1.6;
  padding: 10px 15px 0px 15px;
}

/* FOOTER -> DESKTOP ================================ */

@media (min-width: 470px) {
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 470px) {
  .right-footer {
    text-align: right;
    padding: 22px 15px 10px 0;
    font-size: 14px;
  }
}

@media (min-width: 470px) {
  .left-footer {
    text-align: left;
    padding: 10px 0 10px 15px;
  }
}
